In [1]:
import collections
import numpy as np
import pandas as pd
import re

from argparse import Namespace

In [2]:
args=Namespace(
    raw_data_csv='../data/surnames/surnames.csv',
    train_proportion=0.7,
    val_proportion=0.15,
    test_proportion=0.15,
    output_csv='../data/surnames/surnames_with_splits.csv',
    seed=1337
)
np.random.seed(args.seed)

In [3]:
surnames=pd.read_csv(args.raw_data_csv,header=0)

In [4]:
surnames.head()

    surname nationality
0  Woodford     English
1      Coté      French
2      Kore     English
3     Koury      Arabic
4    Lebzak     Russian

In [5]:
set(surnames.nationality)

{'Arabic',
 'Chinese',
 'Czech',
 'Dutch',
 'English',
 'French',
 'German',
 'Greek',
 'Irish',
 'Italian',
 'Japanese',
 'Korean',
 'Polish',
 'Portuguese',
 'Russian',
 'Scottish',
 'Spanish',
 'Vietnamese'}

In [8]:
by_nationality=collections.defaultdict(list)
for _,row in surnames.iterrows():
    by_nationality[row.nationality].append(row.to_dict())

In [10]:
final_list=[]
np.random.seed(args.seed)
for _,item_list in sorted(by_nationality.items()):
    np.random.shuffle(item_list)
    n=len(item_list)
    
    #获取各样本的大小
    train_size=int(n*args.train_proportion)
    val_size=int(n*args.val_proportion)
    
    
    for item in item_list[:train_size]:
        item['split']='train'
    for item in item_list[train_size:train_size+val_size]:
        item['split']='val'
    
    for item in item_list[train_size+val_size:]:
        item['split']='test'
    
    final_list.extend(item_list)

In [12]:
final_surnames=pd.DataFrame(final_list)

In [13]:
final_surnames.head()

  nationality  split  surname
0      Arabic  train   Gerges
1      Arabic  train   Nassar
2      Arabic  train   Kanaan
3      Arabic  train    Hadad
4      Arabic  train  Tannous

In [14]:
final_surnames.split.value_counts()

train    7680
test     1660
val      1640
Name: split, dtype: int64

In [15]:
final_surnames.to_csv(args.output_csv)